body {
    color: #666666;
    background: #F6D155;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #222222;
    transition: all .3s;
}

a:hover,
a:active,
a:focus {
    color: #FF6F61;
    outline: none;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}
